.forgot-password-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 5px solid black;
}
.forgot-password-container h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}
.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.password-btn {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  background-color: #105ee6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
